#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-container {
  position: relative;
}

.carousel-buttons {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: 50%;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.5s;

  font-size: 4rem;
}

.carousel-container:hover .carousel-buttons {
  opacity: 1;
}

.carousel-buttons button {
  background: none;;
}